/* Site setup*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    background-color: #EAD9C5;
    color: #0A2342;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.sitesetup > * {
    background-color: #EAD9C5;
    text-align: center;
    font-size: 30px;
}

.sitesetup {
    display: grid;
    grid-template-areas: 
      "header"
      "menu"
      "main"
      "footer";
    grid-template-rows: 80px 50px auto 50px;
    grid-gap: 3px;
    margin: 0 auto;
}

/* Media query: 800px+ */
@media (min-width: 800px) {
  .sitesetup {
    grid-template-areas:
        "header . menu"
        "main main main"
        "footer footer footer";
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 90px auto 100px;
  }}

.header { grid-area: header; }
.menu   { grid-area: menu; }
.main   { grid-area: main; }
.footer { grid-area: footer; }

.logo {
  width: 100px;
  height: auto;
  transition: ease-in-out 0.5s;
}

.logo:hover {
  width: 110px;
}

.menu ul {
  list-style: none;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding-top: 15px;
}

/* Media query: 800px+ */
@media (min-width: 800px) {
    .menu ul {
      font-size: 25px;
      padding-top: 30px;
    }}

.menu ul li {
  transition: ease-in-out 0.5s;
  padding: 0 15px;
}

.menu ul li:hover {
  font-size: 120%;
}

.menu--element {
  color: #0A2342;
  text-decoration: none;
}

.menu--element:active {
  color: #DCEBFA;
}

/* Main setup*/
.main {
  background-color: #FFFFFF;
  display: grid;
  grid-template-areas:
      "title"
      "carrusel"
      "contact";
  grid-template-rows: 400px 400px 400px;
  grid-template-columns: auto;
}

/* Title on landingpage setup */
.pagetitle {
  padding: 50px 0;
}

.landingpagetitle--change::after {
  color: #33598A;
  content: "FRONTEND DESIGN";
  animation: changetext 10s infinite;
}

@keyframes changetext {
  0%   { content: "FRONTEND DESIGN"; }
  20%  { content: "ANIMATE"; }
  40%  { content: "FRONTEND CODE"; }
  60%  { content: "CREATE BRAND IDENTITY"; }
  80%  { content: "CREATE PRINT MATERIAL"; }
  100% { content: "FRONTEND DESIGN"; }
}

/* Project carousel setup */
.carousel {
  background-color: #EAD9C5;
  padding-top: 25px }

.carousel--viewport {
  position: relative;
  height: 350px;
  max-width: 900px;
  overflow: hidden;
  padding: 4% 6%;
}

/* ITEMS */
.carousel--viewport li {
  position: absolute;
  top: 0;
  width: 400px;            /* ét item på mobil */
  height: 100%;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #0A2342;
  border-radius: 8px;
  transition: opacity .2s;
  z-index: 0;
}

/* ITEMS ONEonONE */
#item1 { 
  animation: item1Anim 20s infinite linear;
  background: aquamarine; 
}

#item2 { 
  animation: item2Anim 20s infinite linear;
  background: blanchedalmond; 
}
#item3 { 
  animation: item3Anim 20s infinite linear;
  background: #ffd6a5; 
}
#item4 { 
  animation: item4Anim 20s infinite linear;
  background: #caffbf; 
}
#item5 { 
  animation: item5Anim 20s infinite linear;
  background: #9bf6ff; 
}
#item6 { 
  animation: item6Anim 20s infinite linear;
  background: #bdb2ff; 
}

.carousel--viewport--item {
  display: flex;
  flex-direction: column;
}

.carousel--viewport--item--image {
  width: 300px;
  height: auto;
}

/* VARIABLER - overlapper hinanden, så det kun er 1 item som vises */
:root {
  --left-pos: 5%;   
  --right-pos: 5%;
}

/* KEYFRAMES */

@keyframes item1Anim {
  0%, 16%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  18%, 81%  { opacity:0; pointer-events:none;    z-index:0; }
  82%,100%  { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
}

@keyframes item2Anim {
  0%,16%    { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  17%,31%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  33%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item3Anim {
  0%,16%    { opacity:0; pointer-events:none;    z-index:0; }
  17%,31%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  32%,48%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  50%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item4Anim {
  0%,31%    { opacity:0; pointer-events:none;    z-index:0; }
  32%,48%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  49%,64%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  66%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item5Anim {
  0%,48%    { opacity:0; pointer-events:none;    z-index:0; }
  49%,64%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  65%,81%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  82%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item6Anim {
  0%,64%    { opacity:0; pointer-events:none;    z-index:0; }
  65%,81%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  82%,99%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  100%      { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:1; }
}

/* BIG SCREEN */
@media (min-width: 750px) {
  .carousel--viewport {
    height: 350px;       /* lidt højere */
    padding: 2% 5%;
  }

  .carousel--viewport li {
    width: 45%;           /* to items side om side */
  }

  :root {
    --left-pos: 5%;       /* venstre item */
    --right-pos: 50%;     /* højre item */
  }
}




.contact {
  padding-top: 50px;
}

/* Footer setup */
.footer {
  background-color: #EAD9C5;
}

