/* Site setup*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    background-color: #EAD9C5;
    color: #0A2342;
    font-family: sans-serif;
    margin: 0;
}

.sitesetup > * {
    background-color: #EAD9C5;
    text-align: center;
    font-size: 16px;
}

.sitesetup {
    display: grid;
    grid-template-areas: 
      "header"
      "menu"
      "main"
      "footer";
    grid-template-rows: 80px 50px auto 50px;
    grid-gap: 3px;
    margin: 0 auto;
}

/* Media query: 800px+ */
@media (min-width: 800px) {
  .sitesetup {
    grid-template-areas:
        "header . menu"
        "main main main"
        "footer footer footer";
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 90px auto auto;
  }}

.header { grid-area: header; }
.menu   { grid-area: menu; }
.main   { grid-area: main; }
.footer { grid-area: footer; }

.logo {
  height: 125%;
  width: 110px;
  padding: 10px;
  transition: ease-in-out;
  transition-duration: 0.5s;
}

.logo:hover {
  width: 130px;
}

.menu ul {
  border-top: #F8F3ED 2px solid;
  border-bottom: #F8F3ED 2px solid;
  list-style: none;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Media query: 800px+ */
@media (min-width: 800px) {
    .menu ul {
      border-top: none;
      border-bottom: none;
      font-size: 25px;
      padding-top: 30px;
    }
  }

.menu--element {
  color: #0A2342;
  text-decoration: none;
  transition: ease-in-out 0.5s;
  padding: 0 15px;
}

.menu--element:hover {
  font-size: 120%;
  color: #28446C;
  text-decoration: underline;
}

/* Main setup*/
main{
  background-color: #F8F3ED;
}
.main-landingpage {
  display: grid;
  grid-template-areas:
      "title-landingpage"
      "carrusel"
      "contact";
  grid-template-rows: 350px auto auto;
  grid-template-columns: auto;
}

/* Title on landingpage setup */
.title {
  padding: 30px 0 15px 0;
  color: #28446C;
}
.title-landingpage{
  grid-area: title-landingpage;
  background: url(../image/palmer.webp);
  width: auto;
  padding: 30px 0 15px 0;
  color: #28446C;
}
#landingpage-startimage {
  display: none;
}

.landingpagetitle--change::after {
  color: #0A2342;
  content: "FRONTEND DESIGN";
  animation: changetext 10s infinite;
}

@keyframes changetext {
  0%   { content: "FRONTEND DESIGN"; }
  20%  { content: "CREATE BRAND IDENTITY"; }
  40%  { content: "FRONTEND CODE"; }
  60%  { content: "ANIMATE"; }
  80%  { content: "CREATE PRINT MATERIAL"; }
  100% { content: "FRONTEND DESIGN"; }
}
/* Media query: 800px+ */
@media (min-width: 800px) {

  #title-landingpage {
    background: none;
    display: grid;
    grid-template-areas: 
      "landingpage-fixedtitle landingpage-startimage"
      "landingpagetitle--change landingpage-startimage";
    grid-template-rows: 35px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #landingpage-startimage {
    display: block; /*  ←  VIGTIG! Ellers forbliver den skjult */
    grid-area: landingpage-startimage;
    width: 100%;
  }

  #landingpage-startimage img {
    width: 90%;
    height: auto;
    display: block;
    border-radius: 5px;
    margin-top: 30px;
  }

  .title-landingpage-fixed {
    grid-area: landingpage-fixedtitle;
    margin-top: 100px;
  }

  .titlechange {
    grid-area: landingpagetitle--change;
  }
}



/* Project carousel setup */
.carousel {
  background-color: #EAD9C5;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centrerer horisontalt */
  align-items: center;     /* centrerer vertikalt */
  gap: 15px;
  height: 500px;
}

.carousel--viewport {
  position: relative;
  height: 500px;
  padding: 0 10%;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
}

/* ITEMS */
.carousel--viewport--item {
  position: absolute;
  width: 400px;            /* ét item på mobil */
  height: 325px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  background-color: #F8F3ED;
  color: #0A2342;
  transition: opacity .2s;
  z-index: 0;
  gap: 20px;
  border-radius: 5%;
}

.dark-button {
  background-color: #28446C;
  color: #F8F3ED;
  border: 1px solid #0A2342;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
}

.dark-button:hover {
  background-color: #0A2342;
}

/* ITEMS ONEonONE */
#item1 { 
  animation: item1Anim 15s infinite;
}

#item2 { 
  animation: item2Anim 15s infinite;
}
#item3 { 
  animation: item3Anim 15s infinite;
}
#item4 { 
  animation: item4Anim 15s infinite;
}
#item5 { 
  animation: item5Anim 15s infinite;
}
#item6 { 
  animation: item6Anim 15s infinite;
}

.carousel--viewport--item {
  display: flex;
  flex-direction: column;
}

.carousel--viewport--item--image {
  width: 300px;
  height: auto;
}

/* KEYFRAMES */

@keyframes item1Anim {
  0%, 16%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  18%, 81%  { opacity:0; pointer-events:none;    z-index:0; }
  82%,100%  { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
}

@keyframes item2Anim {
  0%,16%    { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  17%,31%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  33%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item3Anim {
  0%,16%    { opacity:0; pointer-events:none;    z-index:0; }
  17%,31%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  32%,48%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  50%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item4Anim {
  0%,31%    { opacity:0; pointer-events:none;    z-index:0; }
  32%,48%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  49%,64%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  66%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item5Anim {
  0%,48%    { opacity:0; pointer-events:none;    z-index:0; }
  49%,64%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  65%,81%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  82%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item6Anim {
  0%,64%    { opacity:0; pointer-events:none;    z-index:0; }
  65%,81%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  82%,99%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  100%      { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:1; }
}

/* BIG SCREEN */
@media (min-width: 750px) {
  .carousel--viewport {
    height: 350px;       /* lidt højere */
    padding: 2% 5%;
  }

  .carousel--viewport li {
    width: 43%;           /* to items side om side */
  }

  :root {
    --left-pos: 5%;       /* venstre item */
    --right-pos: 50%;     /* højre item */
  }
}

.footer--contact-me {
  grid-area: footer--contact-me;
  font-size: 20px;
}
.footer--phone {grid-area: footer--phone;}
.footer--e-mail {grid-area: footer--e-mail;}
.footer--menu {
  grid-area: footer--menu;
  font-size: 20px;
}
.footer--about-me {grid-area: footer--about-me;}
.footer--projects {grid-area: footer--projects;}
.footer--contact-me-site {grid-area: footer--contact-me-site;}

/* Footer setup */
.footer {
  padding-top: 50px;
  background-color: #F8F3ED;
  height: 300px;
  display: grid;
  grid-template-areas: 
  "footer--contact-me footer--menu"
  "footer--phone footer--about-me"
  "footer--e-mail footer--projects"
  ". footer--contact-me-site";
  grid-template-columns: auto auto;
  grid-template-rows: 35px 35px 35px;
}

/* Contact site */
.contact-tekst {
  margin: 0px auto 30px auto;
  padding: 0px 10px 10px 10px;
  width: 470px;
  display: flex;
  flex-direction: column;
}


.form {
  padding: 30px;
  background-color: #F8F3ED;
  align-items: center;
  width: 350px;
  margin: auto auto 20px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 5px 5px 20px;
}

.form--title {
  margin-bottom: 25px;
}

input {
width: 300px;
height: 30px;
padding-left: 10px;
border: solid 1px #EAD9C5;
border-radius: 8px;
margin: 8px 0px 25px 0px;
}

label {
  align-self: flex-start;
  font-weight: bold;  
}

.form--input-message {
  height: 70px;
}

/* Big screen - contact page */
@media (min-width: 800px) {
  #main-contact {
    margin: auto;
    display: grid;
    grid-template-areas: 
    "contact-tekst form";
    margin-top: 50px;
    grid-gap: 30px;
  }
  .contact-tekst {
    width: 400px;
    margin: auto 0px 220px 0px;
  }
}

/* About me page - Top part */
.about-me {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.about-me--textbox {
  width: 470px;
  margin: auto;
}

.potrat {
  background-color: #F8F3ED;
  height: 400px;
  width: 300px;
  margin: 30px auto 30px auto;
  box-shadow: 5px 5px 20px;
  border-radius: 15px;
}

/* Big screen - about page top part */
@media (min-width: 800px) {
  .about-me {
    flex-direction: row;
  }
  .about-me--textbox {
    margin: 60px auto 30px auto;
  }
}

.tools {
  background-color: #F8F3ED;
  height: auto;
}

.tool-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.tool-items-logo {
  width: 80px;
  height: 80px;
  background-color: #28446C;
  border-radius: 10px;
  margin: 0px 15px 30px 15px;
}