/* Site setup*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    background-color: #EAD9C5;
    color: #28446C;
    font-family: sans-serif;
    margin: 0;
}

.sitesetup > * {
    background-color: #EAD9C5;
    text-align: center;
    font-size: 30px;
}

.sitesetup {
    display: grid;
    grid-template-areas: 
      "header"
      "menu"
      "main"
      "footer";
    grid-template-rows: 80px 50px auto 50px;
    grid-gap: 3px;
    margin: 0 auto;
}

/* Media query: 800px+ */
@media (min-width: 800px) {
  .sitesetup {
    grid-template-areas:
        "header . menu"
        "main main main"
        "footer footer footer";
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 90px auto 100px;
  }}

.header { grid-area: header; }
.menu   { grid-area: menu; }
.main   { grid-area: main; }
.footer { grid-area: footer; }

.logo {
  height: 125%;
  width: 100px;
  padding: 10px;
  transition: ease-in-out;
  transition-duration: 0.5s;
}

.logo:hover {
  width: 115px;
}

.menu ul {
  border-top: #F8F3ED 2px solid;
  list-style: none;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding-top: 15px;
}

/* Media query: 800px+ */
@media (min-width: 800px) {
    .menu ul {
      border-top: none;
      font-size: 25px;
      padding-top: 30px;
    }}

.menu ul li {
  transition: ease-in-out 0.5s;
  padding: 0 15px;
}

.menu ul li:hover {
  font-size: 120%;
}

.menu--element {
  color: #0A2342;
  text-decoration: none;
}

.menu--element:active {
  color: #DCEBFA;
}

/* Main setup*/
.main {
  background-color: #F8F3ED;
  display: grid;
  grid-template-areas:
      "title"
      "carrusel"
      "contact";
  grid-template-rows: 350px auto auto;
  grid-template-columns: auto;
}

/* Title on landingpage setup */
.title {
  padding: 30px 0 25px 0;
}
#title-landingpage{
  background: url(../image/palmer.webp);
  width: 800px;
}

.landingpagetitle--change {
  width: 750px;
  height: auto;
}

.landingpagetitle--change::after {
  color: #0A2342;
  content: "FRONTEND DESIGN";
  animation: changetext 10s infinite;
}


@keyframes changetext {
  0%   { content: "FRONTEND DESIGN"; }
  20%  { content: "CREATE BRAND IDENTITY"; }
  40%  { content: "FRONTEND CODE"; }
  60%  { content: "ANIMATE"; }
  80%  { content: "CREATE PRINT MATERIAL"; }
  100% { content: "FRONTEND DESIGN"; }
}

/* Project carousel setup */
.carousel {
  background-color: #EAD9C5;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centrerer horisontalt */
  align-items: center;     /* centrerer vertikalt */
  gap: 15px;
  height: 500px;
}

.carousel--viewport {
  position: relative;
  height: 500px;
  padding: 0 10%;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
}

/* ITEMS */
.carousel--viewport--item {
  position: absolute;
  width: 400px;            /* ét item på mobil */
  height: 325px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  background-color: #F8F3ED;
  color: #0A2342;
  transition: opacity .2s;
  z-index: 0;
  gap: 20px;
  border-radius: 5%;
}

.dark-button {
  background-color: #28446C;
  color: #F8F3ED;
  border: 1px solid #0A2342;
  padding: 10px;
  border-radius: 15px;
  width: 150px;
}

.dark-button:hover {
  background-color: #0A2342;
}

/* ITEMS ONEonONE */
#item1 { 
  animation: item1Anim 15s infinite linear;
}

#item2 { 
  animation: item2Anim 15s infinite linear;
}
#item3 { 
  animation: item3Anim 15s infinite linear;
}
#item4 { 
  animation: item4Anim 15s infinite linear;
}
#item5 { 
  animation: item5Anim 15s infinite linear;
}
#item6 { 
  animation: item6Anim 15s infinite linear;
}

.carousel--viewport--item {
  display: flex;
  flex-direction: column;
}

.carousel--viewport--item--image {
  width: 300px;
  height: auto;
}

/* KEYFRAMES */

@keyframes item1Anim {
  0%, 16%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  18%, 81%  { opacity:0; pointer-events:none;    z-index:0; }
  82%,100%  { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
}

@keyframes item2Anim {
  0%,16%    { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  17%,31%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  33%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item3Anim {
  0%,16%    { opacity:0; pointer-events:none;    z-index:0; }
  17%,31%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  32%,48%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  50%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item4Anim {
  0%,31%    { opacity:0; pointer-events:none;    z-index:0; }
  32%,48%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  49%,64%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  66%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item5Anim {
  0%,48%    { opacity:0; pointer-events:none;    z-index:0; }
  49%,64%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  65%,81%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  82%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item6Anim {
  0%,64%    { opacity:0; pointer-events:none;    z-index:0; }
  65%,81%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  82%,99%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  100%      { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:1; }
}

/* BIG SCREEN */
@media (min-width: 750px) {
  .carousel--viewport {
    height: 350px;       /* lidt højere */
    padding: 2% 5%;
  }

  .carousel--viewport li {
    width: 43%;           /* to items side om side */
  }

  :root {
    --left-pos: 5%;       /* venstre item */
    --right-pos: 50%;     /* højre item */
  }
}

/* Footer setup */
.footer {
  background-color: #F8F3ED;
  height: 100px;
}

